
@{
    ViewData["Title"] = "Completed";
}

<!-- ABOUT US SECTION START -->
<section id="about_us">
    <div class="container">
        <div class="row w-100 pl-3 m-0">
            <div class="content w-100 d-flex justify-content-between">
                <h1>Checkout</h1>
                <p><span>Home</span> > Checkout</p>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US SECTION END -->

<h4 style="margin: 0; padding: 90px 0px 90px 215px;"><i class="far fa-check-square mr-2" style="color: #50BD4D;"></i>Order Completed</h4>
