@model Bio

<!-- FIND US PART START -->
<section id="find_us">
    <div class="container">
        <div class="row d-flex justify-content-center p-0">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="find_us mt-3">
                    <div class="overlay-effect h-100 w-100"></div>
                    <div class="find_us_content">
                        <h4><span>Find Us In </span> Greece </h4>
                        <p>@Model.Address1</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="find_us newyork mt-3">
                    <div class="overlay-effect h-100 w-100"></div>
                    <div class="find_us_content">
                        <h4><span>Find Us In </span> New York </h4>
                        <p>@Model.Address2</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIND US PART END -->
<!-- CONTACT US PART START -->
<section id="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="contact p-4 mt-3">
                    <div class="image">
                        <img src="img/maill.png" alt="">
                    </div>
                    <h6 class="mt-3">Call Center</h6>
                    <p class="py-1 m-0">Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. @Model.PhoneNumber</p>
                    <svg width="348" height="240" viewBox="0 0 348 240" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='348' height='240' />
                    </svg>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="contact p-4 mt-3">
                    <div class="image">
                        <img src="img/emaill.png" alt="">
                    </div>
                    <h6 class="mt-3">Mail Us</h6>
                    <p class="py-1 m-0">Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. @Model.Email</p>
                    <svg width="348" height="240" viewBox="0 0 348 240" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='348' height='240' />
                    </svg>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="contact p-4 mt-3">
                    <div class="image">
                        <img src="img/locationn.png" alt="">
                    </div>
                    <h6 class="mt-3">Nearest Branch</h6>
                    <p class="py-1 m-0">Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span style="visibility:hidden">dddddddddddddddddddd</span></p>
                    <svg width="348" height="240" viewBox="0 0 348 240" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='348' height='240' />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT US PART END -->